html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
#main {
  margin: 0;
  padding: 20px 50px 50px 50px;
  background: url(bg3.jpg);
  /* background-size: cover; */
  background-repeat: repeat-x;
  height: fit-content;
  width: 100%;
}
.container1 {
  padding: 40px 150px;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(163, 55, 34, 1);
  font-size: 20px;
}
input {
  height: fit-content;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#gender {
  height: fit-content;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub {
  margin-top: 30px;
  width: 50%;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid black;
}
#calculate {
  width: 8%;
  height: 30px;
  border: 1px solid black;
}
.heading {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
#heading {
  color: black;
}
#activity {
  margin: 0;
  padding: 30px 0 50px 0;
  background-color: rgb(163, 55, 34);
  box-shadow: 0 -10px 10px 10px rgb(163, 55, 34);
  width: 100%;
  height: 635px;
  color: black;
}
.container2 {
  display: flex;
  justify-content: center;
}
.btn {
  width: 13%;
  height: 50px;
  margin: 30px 30px;
  background-color: white;
  border: 1px solid black;
}
.text {
  text-align: center;
  padding: 50px 0;
  width: 40%;
  height: 200px;
  display: block;
  margin: 50px auto;
  background-color: white;
}
a {
  text-decoration: none;
  text-align: center;
  color: white;
  /* margin-bottom: 10px; */
}
#course-body {
  /* padding: 40px 150px; */
  /* margin-top: 55px; */
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  background-color: rgba(163, 55, 34, 0.9);
}
#start {
  margin-top: 30px;
  height: 30px;
}
#course-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
}
.course-form {
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 50px;
}
#back {
  color: black;
}
